.results-page {
  padding: 20px;
  width: 954px;
  margin: 0 auto;
}

h1 {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 2.6rem;
  text-align: start;
  color: var(--main-text-color);
  margin-bottom: 4rem;
}

h2 {
  font-family: Montserrat;
  font-weight: 600;
  font-size: 1.4rem;
}
